This is a message at the top of foo.

%table{:id => "inventory", :class => "tablesorter"}
  %thead
    %tr
      %th
        Repo Name
      %th
        Branch Name
      %th
        Last Checkin
  %tbody
    =get_foo_records